.location-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}

.location-image img {
    width: 300px;
    height: auto;
    border: 1px solid white;
    margin-left: 20px;
}

.location-events header p {
    color: white;
    margin-bottom: 0px;
}

.location-events main {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location-events main i {
    margin-right: 10px;
}